{% extends 'admin/index.html.twig' %}

{% block contenu %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="height: 90vh;">
            <h1>Créer Page</h1>

                {{ form_start(form) }}
                <div class="container">
                    <div class="row contenu_form" style="text-align: right">
                        <div class="col-md-6 label_form">
                            {{ form_label(form.namePage) }}<br><br>
                            {{ form_label(form.descriptionPage) }}<br><br>
                            {{ form_label(form.specialitePage) }}<br><br>
                        </div>
                        <div class="col-md-6 widget_form" style="text-align: left">
                            {{ form_errors(form.namePage) }}
                            {{ form_widget(form.namePage) }}<br><br>
                            {{ form_errors(form.descriptionPage) }}
                            {{ form_widget(form.descriptionPage) }}<br><br>
                            {{ form_errors(form.specialitePage) }}
                            {{ form_widget(form.specialitePage) }}<br><br>
                        </div>
                    </div>
                    <div class="row validation_form">
                        <div class="container-fluid col-12 save_form"  style="text-align: center">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}

        </div>
    </div>
{% endblock %}