{% extends 'admin/index.html.twig' %}

{% block contenu %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="height: 90vh;">
            <h1>Créer Page</h1>

                {{ form_start(form) }}
                <div class="container col-12">
                    <div class="row contenu_form">
                        <div class="container col-6 label_form">
                            {{ form_label(form.titre) }}<br><br>
                        </div>
                        <div class="container col-6 widget_form">
                            {{ form_errors(form.titre) }}
                            {{ form_widget(form.titre) }}<br><br>
                        </div>
                    </div>
                    <div class="row validation_form">
                        <div class="container-fluid col-12 save_form">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}

        </div>
    </div>
{% endblock %}