{% extends 'admin/index.html.twig' %}

{% block contenu %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="height: 90vh;">
            <div id="table-container" class="x_panel tile overflow_hidden" style="min-height: 320px">
                <h1>Liste des pages</h1>
                <p>Liste toutes les pages existant du site web.</p>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Description / Contenu</th>
                        <th>Specialité</th>
                        <th style="text-align: center; max-width: 10px;">Éditer</th>
                        <th style="text-align: center; max-width: 10px;">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr>
                            <th scope="row">{{ page.id }}</th>
                            <td>
                                {% if page.name_page|raw|length > 40 %}
                                    {{ page.name_page|striptags|slice(0, 40)|raw }} ...
                                {% else %}
                                    {{ page.name_page|raw }}
                                {% endif %}
                            </td>
                            <td>
                                {% if page.description_page|raw|length > 100 %}
                                    {{ page.description_page|striptags|slice(0, 100)|raw }} ...
                                {% else %}
                                    {{ page.description_page|raw }}
                                {% endif %}
                            </td>
                            <td>{{ page.specialite_page }}</td>
                            <td style="text-align: center;"><a class="action" href="{{ path('page_edit', {'id_editPage' : page.id }) }}"><i class="far fa-edit"></i></a></td>
                            <td style="text-align: center;"><a class="action" href="{{ path('page_delete', {'id_deletePage' : page.id }) }}" onclick="return confirm('Une page va être supprimée. Voulez-vous continuer ?')"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}