{% extends 'admin/index.html.twig' %}

{% block contenu %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="height: 90vh;">
            <div id="form-container" class="x_panel tile overflow_hidden" style="min-height: 320px">
                <h1>Ajouter ue article</h1>
                <p>Créer un nouvelle article et l'ajoute au site web.</p>

                {{ form_start(form, {'attr': { 'class': 'form-horizontal form-label-left'}}) }}
                <div class="form-group">
                    {{ form_label(form.titreArticle, 'Titre de l\'article', { 'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'} }) }}
                    {{ form_errors(form.titreArticle) }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.titreArticle, { 'attr': {'class' : 'form-control col-md-8 col-xs-12'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.auteurArticle, 'Auteur', { 'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'} }) }}
                    {{ form_errors(form.auteurArticle) }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.auteurArticle, { 'attr': {'class' : 'form-control col-md-8 col-xs-12'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.publicationArticle, 'Publier ?', { 'label_attr': {'class': 'control-label col-md-2 col-sm-2 col-xs-12'} }) }}
                    {{ form_errors(form.publicationArticle) }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.publicationArticle, { 'attr': {'class' : 'form-control col-md-8 col-xs-12'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.contenuArticle, 'Contenu de l\'article', { 'label_attr': {'class': 'control-label', 'style': 'float:left; padding-left:10px; padding-bottom:10px;'} }) }}
                    {{ form_errors(form.contenuArticle) }}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form_widget(form.contenuArticle) }}
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_row(form.submit, { 'attr': { 'class': 'btn btn-success'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}