{% extends 'admin/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("build/css/admin.css" )}}>
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="height: 90vh;">
                <div id="table-container" class="x_panel tile overflow_hidden" style="min-height: 320px">
                    <h1>Liste des utilisateurs</h1>
                    <p>Liste tous les utilisateurs existant du site web.</p>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th style="text-align: center; max-width: 10px;">Éditer</th>
                                <th style="text-align: center; max-width: 10px;">Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <th scope="row">{{ user.id }}</th>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td style="text-align: center;"><a class="action" href="{{ path('user_edit', {'id_editUser' : user.id }) }}"><i class="far fa-edit"></i></a></td>
                                    <td style="text-align: center;"><a class="action" href="{{ path('user_delete', {'id_deleteUser' : user.id }) }}" onclick="return confirm('Un utilisateur va être supprimée. Voulez-vous continuer ?')"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                </div>
        </div>
    </div>
{% endblock %}